<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<th:block th:include="~{fragments/head}"></th:block>
<body>
<div class="container-fluid">
    <th:block th:include="~{fragments/navbar}"></th:block>

    <main class="mt-3">
        <div class="jumbotron bg-white text-center">

            <th:block th:include="~{fragments/product-details-form}"></th:block>

            <div class="button-holder row d-flex justify-content-md-center">
                <a th:href="@{/products/all}" class="btn bg-izot font-weight-bold text-white">Всички продукти</a>
            </div>

        </div>
    </main>

    <th:block th:include="~{fragments/footer}"></th:block>
</div>
</body>
</html>