<th:block th:fragment="delete-producer-modal">
    <div class="modal fade" th:id="|delete-producer-modal-*{id}|" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-izot-bold" th:text="|*{name} - Изтриване|"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:id="|delete-producer-form-*{id}|" class="form" th:action="@{'/producers/delete/' + *{id}}" th:method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="delete-producer-name" class="font-weight-bold text-izot">Име</label>
                            <input type="text" class="form-control text-center text-izot" id="delete-producer-name"
                                   th:value="*{name}" disabled/>
                        </div>
                        <div class="form-group">
                            <label for="delete-producer-phone" class="font-weight-bold text-izot">Телефон</label>
                            <input type="text" class="form-control text-center text-izot" id="delete-producer-phone"
                                   th:value="*{phone}" disabled/>
                        </div>
                        <!--
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="delete-importer"
                                       th:checked="*{isImporter}" disabled>
                                <label class="form-check-label" for="delete-importer">Is Importer</label>
                            </div>
                        </div>
                        -->
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <button type="submit" class="btn btn-danger" data-dismiss="modal"
                                th:onclick="javascript:$('#delete-producer-form-' + [[*{id}]]).submit()">Изтрий
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>