<th:block th:fragment="details-producer-modal">
    <div class="modal fade" th:id="|details-producer-modal-*{id}|" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-izot-bold" th:text="|*{name} - Детайли|"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:id="|details-producer-form-*{id}|" class="form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="details-producer-name" class="font-weight-bold text-izot">Име</label>
                            <input type="text" class="form-control text-center text-izot" id="details-producer-name"
                                   th:value="*{name}" disabled/>
                        </div>
                        <div class="form-group">
                            <label for="details-producer-phone" class="font-weight-bold text-izot">Телефон</label>
                            <input type="text" class="form-control text-center text-izot" id="details-producer-phone"
                                   th:value="*{phone}" disabled/>
                        </div>
                        <!--
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="details-importer"
                                       th:checked="*{isImporter}" disabled>
                                <label class="form-check-label" for="details-importer">Is Importer</label>
                            </div>
                        </div>
                        -->
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <button type="button" class="btn bg-izot text-white" data-dismiss="modal" data-toggle="modal"
                                th:data-target="|#edit-producer-modal-*{id}|">Редактирай
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal"
                                th:data-target="|#delete-producer-modal-*{id}|">Изтрий
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>