<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<th:block th:include="~{fragments/head}"></th:block>
<body>
<div class="container-fluid">
    <th:block th:include="~{fragments/navbar}"></th:block>

    <main class="mt-3">
        <div class="jumbotron bg-white">
            <h1 class="text-center text-izot">Добави&#32;Производител</h1>
            <hr style="height: 2px" class="bg-izot w-25" />

            <form class="form w-25 mx-auto" th:action="@{/producers/add}" th:method="post" th:object="${producer}">

                <th:block th:include="~{fragments/producer-form}"></th:block>

                <div class="button-holder row d-flex justify-content-md-around">
                    <div><a th:href="@{/producers/all}" class="btn bg-izot font-weight-bold text-white">Откажи</a></div>
                    <button type="submit" class="btn bg-izot font-weight-bold text-white">Добави</button>
                </div>
            </form>

        </div>
    </main>

    <th:block th:include="~{fragments/footer}"></th:block>
</div>
</body>
</html>