<th:block th:fragment="footer">
    <footer class="mt-3">
        <div class="container-fluid text-center text-md-left bg-izot rounded">

            <div class="row mt-3">

                <div class="col-md-5 mt-md-0 mt-3">

                </div>

                <div class="col-md-4 mb-md-0 mb-3 align-middle">

                    <div class="text-white flex-wrap">Всички&#32;доставки&#32;на&#32;поръчани&#32;продукти&#32;се&#32;осъществяват&#32;с&#32;куриер&#32;и&#32;се&#32;заплащат&#32;с&#32;наложен&#32;платеж&#46;</div>

                </div>

                <div class="col-md-3 mb-md-0 mb-3 align-middle">

                    <h5 class="font-weight-bold text-white">Контакти&#58;</h5>

                    <div class="text-white">
                        тел&#46;&#58;&#32;0888&#32;34&#32;54&#32;63
                    </div>
                    <div class="text-white">
                        гр&#46;Н&#46;Загора&#32;ул&#46;Кънчо&#32;Чамов&#32;18
                    </div>

                </div>

            </div>

        </div>

        <div class="container-fluid mt-1 bg-izot rounded">
            <div class="text-white p-2 text-center">&#169;&#32;CopyRight&#32;Kiryakova&#32;Web&#32;Design&#32;Studios&#32;2019&#46;&#32;Всички&#32;права&#32;запазени&#46;
            </div>
        </div>

    </footer>

</th:block>