<th:block th:fragment="navbar">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-izot rounded">
            <th:block sec:authorize="isAnonymous()">
                <a class="navbar-brand nav-link-white" th:href="@{/}"><img class="bg-img" th:src="@{/img/izot.jpg}" /><span id="logo">Н&#46;Загора</span></a>
            </th:block>
            <th:block sec:authorize="hasAnyAuthority('ROOT_ADMIN', 'ADMIN', 'MODERATOR', 'USER')">
                <a class="navbar-brand nav-link-white" th:href="@{/home}"><img class="bg-img" th:src="@{/img/izot.jpg}" /><span id="logo">Н&#46;Загора</span></a>
            </th:block>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <th:block sec:authorize="isAnonymous()">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Начало</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/users/login}"><i class="fas fa-sign-in-alt"></i>&#32;Вход</a>
                    </li>
                    </th:block>

                    <th:block sec:authorize="isAuthenticated()">

                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/home}">Начало</a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/products/all/products}">Продукти</a>
                        </li>

                        <th:block sec:authorize="hasAuthority('MODERATOR')">

                        <li class="nav-item active">
                            <div class="dropdown show">
                                <a class="nav-link active dropdown-toggle" href="#" role="button" id="moderatorDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Модериране
                                </a>
                                <div class="dropdown-menu" aria-labelledby="moderatorDropdown">
                                    <a class="dropdown-item" th:href="@{/producers/add}">Добави&#32;Производител</a>
                                    <a class="dropdown-item" th:href="@{/categories/add}">Добави&#32;Категория</a>
                                    <a class="dropdown-item" th:href="@{/products/add}">Добави&#32;Продукт</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" th:href="@{/producers/all}">Всички&#32;Производители</a>
                                    <a class="dropdown-item" th:href="@{/categories/all}">Всички&#32;Категории</a>
                                    <a class="dropdown-item" th:href="@{/products/all}">Всички&#32;Продукти</a>
                                </div>
                            </div>
                        </li>
                        </th:block>

                        <th:block sec:authorize="hasAuthority('ADMIN')">
                        <li class="nav-item active">
                            <div class="dropdown">
                                <a class="nav-link active dropdown-toggle" href="#" role="button" id="adminDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Администриране
                                </a>
                                <div class="dropdown-menu" aria-labelledby="adminDropdown">
                                    <a class="dropdown-item" th:href="@{/orders/all/}">Всички&#32;Поръчки</a>
                                    <a class="dropdown-item" th:href="@{/users/all/}">Всички&#32;Потребители</a>
                                    <a class="dropdown-item" th:href="@{/logs/}">Логове</a>
                                </div>
                            </div>
                        </li>
                        </th:block>

                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/orders/products/my}"><i class="fas fa-shopping-basket"></i></a>
                        </li>

                        <li class="nav-item active">
                            <div class="dropdown">
                                <a class="nav-link active dropdown-toggle" href="#" role="button" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-user"></i>
                                    <span th:text="|${messageWelcome}${#authentication.getName()}|"></span>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdownProfile">
                                    <a class="dropdown-item" th:href="@{/orders/my}">Моите&#32;Поръчки</a>
                                    <a class="dropdown-item" th:href="@{/users/profile}">Профил</a>
                                    <form th:action="@{/logout}" th:method="POST">
                                        <button type="submit" class="dropdown-item"><i class="fas fa-sign-out-alt"></i>&#32;Изход</button>
                                    </form>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <a href="#">&#160;&#160;&#160;&#160;&#160;&#160;&#160;</a>
                        </li>

                    </th:block>

                </ul>
            </div>

        </nav>
    </header>
</th:block>

