<th:block th:fragment="product-form">

	<div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'text-danger'" >
		<label for="name" class="font-weight-bold text-izot">Име</label>
		<input type="text" th:readonly="${productId}!=null" class="form-control text-izot" id="name" th:field="*{name}" placeholder="Въведи име..." autofocus="autofocus" />
		<small th:each="error : ${#fields.errors('name')}" th:text="${error}"></small>
	</div>
	<div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'text-danger'" >
		<label for="description" class="font-weight-bold text-izot">Описание</label>
		<input type="text" class="form-control text-izot" id="description" th:field="*{description}" placeholder="Въведи описание..." autofocus="autofocus" />
		<small th:each="error : ${#fields.errors('description')}" th:text="${error}"></small>
	</div>
	<div class="form-group" th:classappend="${#fields.hasErrors('price')}? 'text-danger'" >
		<label for="price" class="font-weight-bold text-izot">Цена</label>
		<input type="text" class="form-control text-izot" id="price" th:field="*{price}" placeholder="Въведи цена..." autofocus="autofocus" />
		<small th:each="error : ${#fields.errors('price')}" th:text="${error}"></small>
	</div>
	<div class="form-group" th:classappend="${#fields.hasErrors('imageUrl')}? 'text-danger'">
		<label for="imageUrl" class="font-weight-bold text-izot">Изображение</label>
		<input type="file" class="form-control-file" id="imageUrl" th:field="*{imageUrl}" />
		<small th:each="error : ${#fields.errors('imageUrl')}" th:text="${error}"></small>
	</div>
	<div class="form-group" th:classappend="${#fields.hasErrors('category')}? 'text-danger'">
		<label for="product-category">Категория</label>
		<select class="form-control" id="product-category" th:field="*{category}"> <!--th:selected="${product.category}"-->
			<!--<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" ></option>-->
		</select>
		<small th:each="error : ${#fields.errors('category')}" th:text="${error}"></small>
	</div>
	
	<hr style="height: 2px" class="bg-izot" />

</th:block>
