<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<th:block th:include="~{fragments/head}"></th:block>
<body>
<div class="container-fluid">
    <th:block th:include="~{fragments/navbar}"></th:block>

    <main class="mt-3">
        <h1 class="text-center text-izot-bold">Нещо&#32;се&#32;обърка</h1>
        <div class="text-center">
            <i class="fas fa-tv"></i><h5 th:text="${status}"></h5>
        </div>
        <hr class="hr-2 bg-izot w-75">
        <div class="text-center">
            <h2 th:text="${reason}" style="color: red;"></h2>
        </div>
        <div class="text-center">
            <h3 th:text="${message}" style="color: red;"></h3>
        </div>
        <hr class="hr-2 bg-izot w-75">
    </main>

    <th:block th:include="~{fragments/footer}"></th:block>
</div>
</body>
</html>