<div id="viewUser" class="modal modal-fixed-footer" th:fragment="view">
    <div class="jumbotron bg-white">
        <h1 class="text-center text-izot">Login</h1>
        <hr class="bg-izot w-25 hr-2" />

        <th:block th:each="error: ${errors}">
            <h3 class="text-center text-danger" th:text="${error}"></h3>
        </th:block>

        <form class="form w-25 mx-auto" th:action="@{/login}" th:method="POST" th:object="${model}">
            <!--<div class="username-and-password-holder d-flex justify-content-between">-->
            <div class="form-group">
                <label for="username" class="text-izot">Username</label>
                <input type="text" class="form-control" id="username" name="username" th:value="*{username}" placeholder="Username...">
            </div>
            <div class="form-group">
                <label for="password" class="text-izot">Password</label>
                <input type="password" class="form-control" id="password" name="password" th:value="*{password}" placeholder="Password...">
            </div>
            <!--</div>-->
            <hr style="height: 2px" class="bg-izot" />
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn bg-izot text-white">Login</button>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-light btn-floating red"><i class="material-icons">close</i></button>
    </div>
</div>